<!-- <script setup>
import { ref } from 'vue'
</script> -->

<template>
  <body>
    <div class="top_rated_movies"></div>
    <div class="top_rated_categories"></div>
    <div class="top_rated_"></div>
  </body>
</template>
