<script setup>
import { reactive } from "vue";

// tmdb key
const api_key = "771cd0cfa04d1d08f7d8e0bb74ccc9b7";

const movieSeed = localStorage.getItem("movieId");

// api hit, change out link for searching a different way
// const url = `https://api.themoviedb.org/3/discover/movie?api_key=${api_key}&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=1&with_watch_monetization_types=flatrate`;
const url = `https://api.themoviedb.org/3/movie/${movieSeed}/recommendations?api_key=${api_key}&language=en-US&page=1`;
// search by title: https://api.themoviedb.org/3/search/movie?api_key=###&query=the+avengers

// generate movies and store their attibutes to be put in the appropriate squares
const squares = reactive([
  { squareNum: "one", title: "testOne", next: 9 },
  { squareNum: "two", title: "testTwo", next: 9 },
  { squareNum: "three", title: "testThree", next: 10 },
  { squareNum: "four", title: "testFour", next: 10 },
  { squareNum: "five", title: "testFive", next: 11 },
  { squareNum: "six", title: "testSix", next: 11 },
  { squareNum: "seven", title: "testSeven", next: 12 },
  { squareNum: "eight", title: "testEight", next: 12 },
  { squareNum: "nine", next: 13, button: true },
  { squareNum: "ten", next: 13, button: true },
  { squareNum: "eleven", next: 14, button: true },
  { squareNum: "twelve", next: 14, button: true },
  { squareNum: "thirteen", next: 15, button: true },
  { squareNum: "fourteen", next: 15, button: true },
  { squareNum: "fifteen", button: true },
]);

async function getMovie(url) {
  const response = await fetch(url);
  var data = await response.json();
  return data;
}

(async () => {
  const data = await getMovie(url);
  let i = 0;
  for (let index in data.results) {
    // currently grabbing top 7 results
    if (i > 7) {
      break;
    }
    // uploading information to button objects
    squares[i]["title"] = data.results[index].original_title;
    squares[i]["poster"] =
      "https://image.tmdb.org/t/p/original" + data.results[index].poster_path;
    var rating =
      Math.round(parseFloat(data.results[index].vote_average) * 10) / 10;
    // rounding to 1 decimal place
    squares[i]["rating"] = rating.toString() + "/10";
    i++;
  }
})();

// paralell buttons = buttons in the same column as each other on the page

function updateBracket(square) {
  const nextIndex = square.next;
  // sets info
  squares[nextIndex - 1].title = square.title;
  squares[nextIndex - 1].poster = square.poster;
  squares[nextIndex - 1].rating = square.rating;

  // disables button
  square.button = true;

  const currentIndex = squares.indexOf(square);

  if (nextIndex == 15) {
    squares[nextIndex - 1].button = false;
  }

  // disables paralell button
  currentIndex % 2 == 1
    ? (squares[currentIndex - 1].button = true)
    : (squares[currentIndex + 1].button = true);

  // checks if it's paralell button has a title (has been chosen), if it does a choice between them can be made and the buttons are enabled
  if (nextIndex % 2 == 1) {
    if (squares[nextIndex].hasOwnProperty("title")) {
      squares[nextIndex].button = false;
      squares[nextIndex - 1].button = false;
    }
  } else {
    if (squares[nextIndex - 2].hasOwnProperty("title")) {
      squares[nextIndex - 2].button = false;
      squares[nextIndex - 1].button = false;
    }
  }
}

// to make bracket generation dynamic, I would need a way to generate the css grid below and determine where each movie should be in # of rows and # of cols
// seems very possible, coming back to it later after more important things are done
</script>
<template>
  <div class="grid-container">
    <button
      v-for="square in squares"
      :class="square.squareNum"
      @click="updateBracket(square)"
      :disabled="square.button"
    >
      <div
        :class="square.squareNum"
        :style="{
          // doesnt work, it needs to be in the form 1 / 1 / 1 / 1 / 1 / 1 instead of the name identifier
          'grid-area': square.SquareNum,
        }"
      >
        <div class="button-container">
          <div class="left">
            <img
              :src="square.poster"
              style="width: 4vw; border-radius: 8px; padding-left: 4px"
            />
          </div>
          <div class="right">
            <h4 v-if="square.title" style="padding-right: 2px">
              {{ square.title }}
            </h4>
            <p v-else>Not Chosen Yet</p>
            <p class="rating" v-if="square.rating">
              {{ square.rating }}
            </p>
          </div>
        </div>
      </div>
    </button>
  </div>
</template>

<style scoped>
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 30px;
  grid-auto-flow: row;
  padding: 0.5vw;
  grid-template-areas:
    "one   .    .        .       .        .      five"
    ".     nine .        fifteen .        eleven ."
    "two   .    .        .       .        .      six"
    ".     .    thirteen .       fourteen .      ."
    "three .    .        .       .        .      seven"
    ".     ten  .        .       .        twelve ."
    "four  .    .        .       .        .      eight";
  /* background-color: var(--quinary-color); */
}
.button-container {
  /* make body below container pink as well */
  display: flex;
  align-items: center;
  height: 14vh;
}
.right {
  flex: 1 1;
  white-space: pre-line;
  align-items: center;
}
h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;
  line-height: 1em;
  max-height: 4em;
  padding-left: 1px;
}
p {
  padding: 0px;
}
button {
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
  border: 2px solid var(--quinary-color);
  width: 12vw;
  height: 14vh;
  background-color: var(--secondary-color);
  border-radius: 8px;
  /* box-shadow: 0px 0px 2px 0px var(--tertiary-color); */
}
button :hover {
  position: relative;
  transform: scale(1.4, 1.4);
  align-self: right;
  border: 2px solid var(--quinary-color);
  background-color: var(--fourtiary-color);
  color: black;
  border-radius: 8px;
  transition: 0.5s;
}
.one,
.two,
.three,
.four :hover {
  left: 1.7vw;
}
/* no idea why this is needed on only this square */
.four :hover > * {
  left: 0px;
}
.eight :hover > * {
  left: 0px;
}
.five,
.six,
.seven,
.eight :hover {
  right: 1.7vw;
}
button :hover > * {
  border: transparent;
  visibility: visible;
  transform: none;
  background-color: transparent;
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.nine {
  grid-area: nine;
}
.ten {
  grid-area: ten;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.eleven {
  grid-area: eleven;
}
.twelve {
  grid-area: twelve;
}
.thirteen {
  grid-area: thirteen;
}
.fourteen {
  grid-area: fourteen;
}
.fifteen {
  grid-area: fifteen;
  border: 2px solid var(--fourtiary-color);
  background-color: gold;
}
.fifteen :hover {
  border: 2px solid var(--quinary-color);
  background-color: gold;
}
.fifteen :hover > * {
  border: 0px;
  background-color: unset;
}
.fifteen > * {
  border: 0px;
  background-color: unset;
}
</style>
