<template>
    <div>
    <a class="btn" href="#/login">Login \ Play</a>
</div>

<h1>ScapeGoat</h1>
<p>We take the blame when you can't make a decision!</p>
<p>Rather  than spending hours for a movie to watch, play a game and let the best movie win! </p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor inacididunt ut labore et dolore magna aliqua.</p>

</template>