<script setup>

import { ref } from "vue";
import axios from "axios";
import { useForm, useField } from 'vee-validate';
import * as yup from 'yup';
import bcrypt from "bcryptjs"

const schema = yup.object({
  email: yup.string().required("Email is required").email(),
  password: yup.string().required("Password is required"),
});

const {errors, useFieldModel } = useForm({
  validationSchema: schema,
});

const email = useFieldModel('email');
const password = useFieldModel('password');
const message = ref("");

function isValid(){
  console.log(Object.keys(errors.value).length)
  if(Object.keys(errors.value).length == 0){
    canSubmit.value = true
  } else {
    canSubmit.value = false
  }
}

const emailChange = ref(false);
const passwordChange = ref(false);
const canSubmit = ref(false);

const authUser = async () => {
  try {
    console.log(email.value);
    const response = await axios.get(`http://localhost:5000/auth/${email.value}`);
    if (response == null){
      message.value = "Incorrect email or password.";
      console.log("null");
    } else if (bcrypt.compareSync(password.value, response.data.password)){
      message.value = "Incorrect email or password.";
      console.log("bad pass", response, password.value);
    } else {
      console.log("sucess");
      sessionStorage.setItem("userID", response.data.id);
      email.value = "";
      password.value = "";
      message.value = "";
      window.location.href = '/';
    }
  } catch (err) {
    console.log(err);
  }
}


</script>

<template>
    <h1>Log In</h1>
    <p>{{ message.value }}</p>
    <div id="form">
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input
        v-model="email"
        type="email"
        placeholder="Email"
        class="text-input"
        @input="emailChange = true"
        @change="isValid"
        />
      </div>
      <span v-if="emailChange">{{ errors.email }}</span>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
        v-model="password"
        type="password"
        placeholder="Password"
        class="text-input"
        @input="passwordChange = true"
        @change="isValid"
        />
      </div>
      <span v-if="passwordChange">{{ errors.password }}</span>
    </div>
    <div class="control">
      <button 
        class="button is-success" 
        @click="authUser"
        :disabled="!canSubmit">Log in</button>
    </div>

    <div class="container">
      <h2>Don't have an account sign up <a href="#/signup"> HERE</a></h2>
    </div>

  </div>
</template>

<style>
.text-input {
  display: block;
  margin: 0 auto;
  width: 35%;
  text-align: center;
  font-size: large;
}
@media screen and (max-width: 480px) {
}
</style>

<style scoped>
  span {
    color: red;
  }
</style>
