<template>
  <div class="game-container">
    <h1>{{ currentTitle }}</h1>

    <div class="container">
      <div class="button-container">
        <button class="selection-button" @click="noBtn">No 👎</button>
      </div>

      <div class="image-container">
        <img :src="currentImage" alt="No Poster" />
      </div>

      <div class="button-container">
        <button class="selection-button" @click="yesBtn">Yes 👍</button>
      </div>
    </div>

    <div class="overview-container">
      <button class="overview-button" @click="showOverview">
        {{ displayOverview ? "Hide Overview 🫣" : "Overview 🤔" }}
      </button>
    </div>
    <p class="information-container" v-if="displayOverview">{{ overview }}</p>
  </div>

  <div class="nextPlayer-button-container">
    <button class="nextPlayer-selection-button" @click="nextPlayer">
      Next Player
    </button>
  </div>

  <!-- <h1> {{ yesBtn}}</h1> -->
  <!-- <h2>{{ checkMessage }}</h2> -->
</template>

<script setup>
import { reactive, ref, onMounted } from "vue";
//import {ref} from "vue"
import { computed } from "vue";

// tmdb key
const api_key = "771cd0cfa04d1d08f7d8e0bb74ccc9b7";

const movieSeed = localStorage.getItem("movieId");

const numPlayers = localStorage.getItem("numPlayers");
const numMovieList = localStorage.getItem("numMovieList");
const movieTitle = localStorage.getItem("movieTitle");
const movieRating = localStorage.getItem("movieRating");

// const movieRating = 10;

// api hit, change out link for searching a different way
// const url = `https://api.themoviedb.org/3/discover/movie?api_key=${api_key}&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=1&with_watch_monetization_types=flatrate`;
const url = `https://api.themoviedb.org/3/movie/${movieSeed}/recommendations?api_key=${api_key}&language=en-US&page=1`;
// search by title: https://api.themoviedb.org/3/search/movie?api_key=###&query=the+avengers

async function getMovie(url) {
  const response = await fetch(url);
  var data = await response.json();
  return data;
}

const playListMovies = reactive([]);

(async () => {
  const data = await getMovie(url);
  // console.log(data);
  showContainer(true);
  // consider making ratings and number of movies variables for the user

  let index = 0;
  let badRating = 0;

  while (playListMovies.length < numMovieList) {
    var rating =
      Math.round(parseFloat(data.results[index].vote_average) * 10) / 10;
    // console.log("rating: ", rating);
    // console.log("Movie rating: ", movieRating);

    if (rating >= movieRating) {
      playListMovies.push({
        title: data.results[index].original_title,
        poster:
          "https://image.tmdb.org/t/p/original" +
          data.results[index].poster_path,
        id: data.results[index].id,
        rating: rating.toString() + "/10",
        overview: data.results[index].overview,
      });
    } else if (rating <= movieRating) {
      badRating++;
      if (badRating >= numMovieList) {
        // TODO: Make bad rating handler
        // console.log("Bad rating: " + badRating);
        console.log("sorry you have a bad rated movie!");
        // const badRatingMessage = handleBadRatings()
        //badRatingMessage
      }
    }

    index++;
  }
})();

//console.log("movie list", playListMovies);

// const badRatingMessage = computed(() => {
//   return "sorry you have a bad rated movie!"
// });

const currentIndex = ref(0);

function next() {
  currentIndex.value = (currentIndex.value + 1) % playListMovies.length;
  return currentIndex.value;
}

const currentTitle = computed(() => {
  const currentMovie = playListMovies[currentIndex.value];
  //showContainer(true);
  return currentMovie ? currentMovie.title : null;
});

const currentImage = computed(() => {
  const currentMovie = playListMovies[currentIndex.value];
  return currentMovie ? currentMovie.poster : null;
});

const displayOverview = ref(false);

function showOverview() {
  // TODO: Work on this window scrollTo
  // if (displayOverview.value == displayOverview.value){
  //   window.scrollTo(0, 500);
  // } else if (displayOverview.value != displayOverview.value)  {
  //   window.scrollTo(0, -1000);
  //}

  displayOverview.value = !displayOverview.value;
  // ! is the logical NOT operator.
  //It is used to invert the truth value of a boolean expression.
  window.scrollTo(0, 500);
}

const overview = computed(() => {
  const currentMovie = playListMovies[currentIndex.value];

  return currentMovie ? currentMovie.overview : null;
});

// condition ? valueIfTrue : valueIfFalse
//If condition is true, then the operator
//returns valueIfTrue. If condition is false,
//then the operator returns valueIfFalse.

function yesBtn() {
  handleResponse("yes"); 

}

function noBtn() {
  handleResponse("no");
}


let playerInput = JSON.parse(sessionStorage.getItem('playerInput')) || [];

function saveMovie(currentPlayerNum, currentTitle) {
  let playerFound = false;
  
  // Check if movie title already exists in any player's list
  for (let i = 0; i < playerInput.length; i++) {
    let player = playerInput[i];
    for (let key in player) {
      let movies = player[key];
      for (let j = 0; j < movies.length; j++) {
        if (movies[j].currentTitle === currentTitle) {
          // Movie title found, return "We got a Match!"
          console.log("we got a Match!");
          return "We got a Match!";
          
        }
      }
    }
  }
  
  // Check if currentPlayerNum already exists in the array
  for (let i = 0; i < playerInput.length; i++) {
    if (playerInput[i][`currentPlayerNum${currentPlayerNum}`]) {
      // Player found, add movie to their list
      playerInput[i][`currentPlayerNum${currentPlayerNum}`].push({ currentTitle });
      playerFound = true;
      break;
    }
  }
  
  // Player not found, add new player object to the array
  if (!playerFound) {
    playerInput.push({
      [`currentPlayerNum${currentPlayerNum}`]: [{ currentTitle }]
    });
  }
  
  sessionStorage.setItem('playerInput', JSON.stringify(playerInput));
}




function checkAllPlayers(currentPlayerNum) {
  if (currentPlayerNum >= numPlayers) {
    console.log("Everyone has played!");
    //return "Everyone has played!"
  }
}

function playerOne() {
  localStorage.setItem("currentPlayer", 1);
  return 1;
}

function updatePlayerNum(num) {
  num = num + 1;
  localStorage.setItem("currentPlayer", num);
  return localStorage.getItem("currentPlayer");
}

function nextPlayer() {
  location.reload();
}

function hideContainer(bool) {
  if (bool == true) {
    const gameContainer = document.querySelector(".game-container");
    gameContainer.style.display = "none";
  }
}

function showContainer(bool) {
  //  console.log("bool", bool);
  const nextPlayer = document.querySelector(".nextPlayer-button-container");

  if (bool == true) {
    nextPlayer.style.display = "none";
  } else if (bool == false) {
    nextPlayer.style.display = "block";
  }
}

let plays = 0;
function handleResponse(response) {
  var currentPlayerNum = 0;

  if (plays == 0 && localStorage.getItem("currentPlayer") >= 1) {
    currentPlayerNum = parseInt(localStorage.getItem("currentPlayer"));

    //console.log("currentPlayerNum", currentPlayerNum);
    currentPlayerNum = parseInt(updatePlayerNum(currentPlayerNum));
    //console.log("UpdatedCurrentPlayerNum", currentPlayerNum);
  } else if (plays == 0 && localStorage.getItem("currentPlayer") != 1) {
    currentPlayerNum = parseInt(playerOne());
    //console.log("playerOne", localStorage.getItem("currentPlayer"));
  } else if (plays > 0) {
    currentPlayerNum = localStorage.getItem("currentPlayer");
  }
  //console.log("# plays", plays);


    if (response == "yes") {
      saveMovie(currentPlayerNum, currentTitle.value);
      if (plays === parseInt(numMovieList)-1) {
    hideContainer(true);
    showContainer(false);}

      checkAllPlayers(currentPlayerNum);
    } else if (response == "no") {
      if (plays === parseInt(numMovieList)-1) {
    hideContainer(true);
    showContainer(false);
  } 
      checkAllPlayers(currentPlayerNum);
    }
  
  plays +=1;
  next();
  return plays;
}

</script>

<style scoped>
/* Small screens */
@media (max-width: 640px) {
  h1 {
    font-size: 100%;
    font-style: italic;
  }

  .container {
    flex-direction: row;
    height: auto;
  }

  .image-container {
    border: none;
  }

  .image-container img {
    width: 80%;
    border: none;
  }

  .button-container {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .selection-button {
    width: 100%;
    font-size: 100%;
  }

  .overview-button {
    width: 80%;
    font-size: 100%;
  }
  .nextPlayer-button-container {
    justify-content: center;
    margin-top: 20%;
    width: 100%;
    font-size: 200%;
    border: 1px solid purple;
  }
  .nextPlayer-selection-button {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}

/* Medium screens */
/* Still needs to be work on! */
@media (min-width: 641px) and (max-width: 1007px) {
  h1 {
    font-size: 110%;
  }

  .container {
    height: 60%;
  }

  .image-container img {
    width: 70%;
  }

  .selection-button {
    font-size: 18px;
  }

  .overview-button {
    width: 25%;
    font-size: 18px;
  }
}

/* Large screens */
@media (min-width: 1008px) {
  h1 {
    font-size: 150%;
    font-style: italic;
  }

  .container {
    margin-left: 30%;
    margin-right: 30%;
    height: 50%;
    width: 40%;
  }

  .image-container img {
    width: 300px;
  }

  .button-container {
    /* display: flex;
  flex-direction: row; */
    width: 300px;
    /* border: 1px solid purple; */
  }

  .selection-button {
    width: 100%;
    font-size: 20px;
  }

  .overview-button {
    width: 30%;
    font-size: 20px;
  }
}

/* Common styles for all screens */
.container {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

.image-container {
  /* border: 1px solid rebeccapurple; */
  align-items: center;
}

/* button-container {
  display: flex;
  flex-direction: row;
  border: 1px solid purple; 
} */

.selection-button {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  color: var(--quinary-color);
}

.overview-container,
.nextPlayer-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.overview-button {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border-color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  color: var(--quinary-color);
}

.information-container {
  margin: 10px;
  font-weight: bold;
  border: 1px solid blue;
}

.nextPlayer-selection-button {
  margin-top: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 70px;
  width: 250px;
  border-color: white;
  background-color: var(--primary-color);
  font-weight: bold;
  color: var(--quinary-color);
}
</style>
