<template>
  <h1> Welcome to Match Making!! </h1>
  <h2>Enter the title of a movie you like and
    we will give you a list of recomendations</h2>
  <div>
    <h3>Enter a Movie Title:</h3>

    <input class="inputTitle" v-model="titleInput" placeholder="Movie Title" />

    <div class="flex-container">
      <h3>Number of players: </h3>
      <div class="flex-item flex-row-container">
        <div class="flex-row-item">
          <input type="radio" value="2" v-model="numPlayers">
          <label> 2</label>
        </div>
        <div class="flex-row-item">
          <input type="radio" value="3" v-model="numPlayers">
          <label> 3</label>
        </div>
        <div class="flex-row-item">
          <input type="radio" value="4" v-model="numPlayers">
          <label> 4</label>
        </div>
      </div>

      <div class="flex-container">
        <h3>Number of recommended movies:</h3>
        <div class="flex-item flex-row-container">
          <div class="flex-row-item">
            <input type="radio" value="5" v-model="numMovieList">
            <label> 5</label>
          </div>
          <div class="flex-row-item">
            <input type="radio" value="10" v-model="numMovieList">
            <label> 10</label>
          </div>
          <div class="flex-row-item">
            <input type="radio" value="15" v-model="numMovieList">
            <label> 15</label>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-container">
        <h3>Ratings:</h3>
        <div class="flex-item flex-row-container">
          <div class="flex-row-item">
            <input type="radio" value="5" v-model="ratingInput">
            <label> &lt; 5 </label>
          </div>
          <div class="flex-row-item">
            <input type="radio" value="7" v-model="ratingInput">
            <label> &lt; 7 </label>
          </div>
          <div class="flex-row-item">
            <input type="radio" value="9" v-model="ratingInput">
            <label> &lt; 9 </label>
          </div>
        </div>
      </div>
    </div>
    <!-- <button @click="search(), 
    playerChoices(numPlayers, titleInput, numMovieList) "> -->
    <div>
    <button @click="confirmInputs(numPlayers)">
      Confirm</button>
  </div>

  <h2>{{ message }} </h2>
  <div class="container">
    <a href="#/mmgame">
      <div v-for="movie in foundMovies" :key="movie.id" class="child">
        <button class="movieChoice" @click="exportMovie(movie.id)">
          <p>{{ movie.title }}</p>
          <img :src="movie.poster" alt="No Poster" style="width: 10vw" />
        </button>
      </div>
    </a>
  </div>
</template>



<script setup>
import { reactive } from "vue";

const api_key = "771cd0cfa04d1d08f7d8e0bb74ccc9b7";

var title = "";
const url = `https://api.themoviedb.org/3/search/movie?api_key=${api_key}&language=en-US&query=`;
//var foundTitle = "";
const foundMovies = reactive([]);
//var chosenMovie = "";

async function callApi(url) {
  const response = await fetch(url + title);
  var data = await response.json();
  return data;
}

var titleInput = "";
var numPlayers = 0;
var numMovieList = 0;
var ratingInput = 0; 

function search() {
  title = titleInput.replace(/ /g, "+");

  (async () => {
    const data = await callApi(url);
    console.log(data);
    let i = 0;
    for (let index in data.results) {
      if (i > 15) {
        break;
      }
      foundMovies[index] = {
        title: data.results[index].original_title,
        poster:
          "https://image.tmdb.org/t/p/original" +
          data.results[index].poster_path,
        id: data.results[index].id,
      };
      i++;
    }
  })();
}

function exportMovie(id) {
  localStorage.setItem("movieId", id);
}

var message = "";
function confirmInputs() {
  if (numPlayers >= 0 && numMovieList >= 0 && ratingInput >= 0
  && titleInput !== "") {
    localStorage.setItem("numPlayers", numPlayers);
    localStorage.setItem("numMovieList", numMovieList);
    localStorage.setItem("movieTitle", titleInput);
    localStorage.setItem("movieRating", ratingInput);
    message = "Please select your movie";
    search();

    return message;
  } else {
    alert("Please check your inputs");
    location.reload();
  }
  window.scrollTo(0, 50000)
}


</script>

<style scoped>
h1 {
  margin-top: 20px;
  color: var(--quinary-color);
}

h2 {
  font-style: italic;
}

h3 {
  color: var(--fourtiary-color);
  margin-bottom: 5px;
}

.inputTitle {
  border-radius: 10px;
  height: 20px;
  width: 200px;
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item {
  margin: 2px;
  padding: 10px;
  /* border: 1px solid black; */
}

.flex-row-container {
  display: flex;
  flex-direction: row;
}

.flex-row-item {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--quinary-color);
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 15px;
}

/* .flex-row-item {
  display: flex;
  align-items: center;
} */



button {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  border-color: white;
  background-color: var(--primary-color);
  font-size: 20px;
  font-weight: bold;
  color: var(--quinary-color);

}

/*  
.flex-center-container {
  display: flex;
  justify-content: center;
}

.flex-center-item {
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
} */

/* ---- css for once the movies are shown do not delete!  ---- */


.container {
  align-items: center;
  padding: 20px;
}

.child {
  float: left;
  padding-bottom: 2px;
}

.movieChoice {
  background-color: transparent;
  border-color: transparent;
  border: 2px solid var(--fourtiary-color);
  width: 12vw;
  background-color: var(--secondary-color);
  border-radius: 8px;
  height: 45vh;
  /* box-shadow: 0px 0px 2px 0px var(--tertiary-color); */
}

.child :hover {
  background-color: var(--tertiary-color);
  color: black;
}

p {
  font-weight: bold;
}
</style>
