<template>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScapeGoat</title>
    <link rel="stylesheet" href="../assets/common.css" />
  </head>
  <body>
    <h1>How Many Movies?</h1>
    <div id="form">
      <ul>
        <li>
          <label for="num_movies" style="word-wrap: break-word">
            How Many Movies?
          </label>
          <!-- <input
            id="num_movies"
            v-model="input_num_movies" <- error here
            placeholder="Number of Movies"
          /> -->
        </li>
      </ul>
      <div class="checkrow">
        <div class="checkchild">
          <label for="action_check">Action</label>
          <input
            type="checkbox"
            id="action_check"
            name="action_check"
            value="action"
          />
        </div>
        <div class="checkchild">
          <label for="romance_check">Romance</label>
          <input
            type="checkbox"
            id="romance_check"
            name="romance_check"
            value="romance"
          />
        </div>
      </div>
      <div class="checkrow">
        <div class="checkchild">
          <label for="comedy_check">Comedy</label>
          <input
            type="checkbox"
            id="comedy_check"
            name="comedy_check"
            value="comedy"
          />
        </div>
        <div class="checkchild">
          <label for="horror_check">Horror</label>
          <input
            type="checkbox"
            id="horror_check"
            name="horror_check"
            value="horror"
          />
        </div>
      </div>
      <div class="checkrow">
        <div class="checkchild">
          <label for="scifi_check">Sci-Fi</label>
          <input
            type="checkbox"
            id="scifi_check"
            name="scifi_check"
            value="scifi"
          />
        </div>
        <div class="checkchild">
          <label for="fantasy_check">Fantasy</label>
          <input
            type="checkbox"
            id="fantasy_check"
            name="fantasy_check"
            value="fantasy"
          />
        </div>
      </div>
      <ul>
        <li>
          <label for="num_movies"> Movie Seed </label>
          <!-- <input
            id="num_movies"
            v-model="input_num_movies" <- error here
            placeholder="Search a movie and the results will be similar"
            style="width: 300px"
          /> -->
        </li>
      </ul>
      <div class="checkrow">
        <div class="checkchild">
          <label for="netflix_check">Netflix</label>
          <input
            type="checkbox"
            id="netflix_check"
            name="netflix_check"
            value="netflix"
          />
        </div>
        <div class="checkchild">
          <label for="hulu_check">Hulu</label>
          <input
            type="checkbox"
            id="hulu_check"
            name="hulu_check"
            value="hulu"
          />
        </div>
      </div>
      <div class="checkrow">
        <div class="checkchild">
          <label for="disney_check">Disney+</label>
          <input
            type="checkbox"
            id="disney_check"
            name="disney_check"
            value="disney"
          />
        </div>
        <div class="checkchild">
          <label for="amazon_check">Amazon</label>
          <input
            type="checkbox"
            id="amazon_check"
            name="amazon_check"
            value="amazon"
          />
        </div>
      </div>
    </div>
  </body>
</template>

<style>
header {
  text-align: center;
}
div ul {
  list-style: none;
  padding: 0;
}
input {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
  text-align: center;
}
div li {
  padding: 10px;
  color: blue;
  font-size: large;
}
.checkrow {
  text-align: center;
}
.checkchild {
  padding: 10px;
  color: blue;
  font-size: large;
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
  width: 100px;
}
</style>
