<script setup>
import { reactive } from "vue";

const api_key = "771cd0cfa04d1d08f7d8e0bb74ccc9b7";

const url = `https://api.themoviedb.org/3/search/movie?api_key=${api_key}&language=en-US&query=`;
const foundMovies = reactive([]);

async function callApi(url, title) {
  const response = await fetch(url + title);
  var data = await response.json();
  return data;
}

function clearMovies(movieList) {
  movieList.length = 0;
}

var titleInput = "";
function search() {
  clearMovies(foundMovies);
  let title = titleInput.replace(/ /g, "+");
  (async () => {
    const data = await callApi(url, title);
    if (data.results.length == 0) {
      foundMovies[0] = {
        title: "Movie Not found",
      };
    }
    console.log(data);
    let i = 0;
    for (let index in data.results) {
      if (i > 15) {
        break;
      }
      foundMovies[index] = {
        title: data.results[index].original_title,
        poster:
          "https://image.tmdb.org/t/p/original" +
          data.results[index].poster_path,
        id: data.results[index].id,
      };
      i++;
    }
  })();
}

function exportMovie(id) {
  localStorage.setItem("movieId", id);
}
</script>

<template>
  <p>Enter Title:</p>
  <input v-model="titleInput" placeholder="Title" />
  <button @click="search()">Confirm</button>
  <div class="container">
    <a href="/#/bracket">
      <div v-for="movie in foundMovies" class="child">
        <button class="movieChoice" @click="exportMovie(movie.id)">
          <p>{{ movie.title }}</p>
          <img :src="movie.poster" alt="No Poster" style="width: 10vw" />
        </button>
      </div>
    </a>
  </div>
</template>

<style scoped>
.container {
  align-items: center;
  padding: 20px;
}
.child {
  float: left;
  padding-bottom: 2px;
}
.movieChoice {
  background-color: transparent;
  border-color: transparent;
  border: 1.5px solid var(--quinary-color);
  width: 12vw;
  background-color: var(--secondary-color);
  border-radius: 8px;
  height: 45vh;
  /* box-shadow: 0px 0px 2px 0px var(--tertiary-color); */
}
.child :hover {
  background-color: var(--fourtiary-color);
  color: black;
}
p {
  font-weight: bold;
}
</style>
