<script setup>

//defineProps(["inputText"]);
//defineEmits(["update:inputText"]);

import { ref } from "vue";
import axios from "axios";
import { useForm, useField } from 'vee-validate';
import * as yup from 'yup';
import bcrypt from "bcryptjs"



const schema = yup.object({
  username: yup.string().required("Username is required").min(5, "Username must be at least 5 characters").max(50),
  email: yup.string().required("Email is required").email(),
  password: yup.string().required("Password is required").min(8),
  confirm: yup
    .string()
    .required("Confirm Password is required")
    .oneOf([yup.ref('password')], 'Passwords do not match'),
});

const {errors, useFieldModel } = useForm({
  validationSchema: schema,
});

function isValid(){
  if(Object.keys(errors.value).length == 0){
    canSubmit.value = true
  } else {
    canSubmit.value = false
  }
}

const username = useFieldModel('username');
const email = useFieldModel('email');
const password = useFieldModel('password');
const confirm = useFieldModel('confirm');
const netflix = ref("");
const amazon = ref("");
const disney = ref("");
const hbo = ref("");
const hulu = ref("");
const peacock = ref("");
const paramount = ref("");
const starz = ref("");
const showtime = ref("");
const apple = ref("");

function numberify(value){
  if(value == true){
    return 1;
  } else {
    return 0;
  }
}

const usernameChange = ref(false);
const emailChange = ref(false);
const passwordChange = ref(false);
const confirmChange = ref(false);
const canSubmit = ref(false);

const registerUser = async () => {
  try {
    await axios.post("http://localhost:5000/users", {
      username: username.value,
      email: email.value,
      password: bcrypt.hashSync(password.value, bcrypt.genSaltSync()),
      netflix: numberify(netflix.value),
      amazon: numberify(amazon.value),
      disney: numberify(disney.value),
      hbo: numberify(hbo.value),
      hulu: numberify(hulu.value),
      peacock: numberify(peacock.value),
      paramount: numberify(paramount.value),
      starz: numberify(starz.value),
      showtime: numberify(showtime.value),
      apple: numberify(apple.value)
    });
    username.value = "";
    email.value = "";
    password.value = "";
    netflix.value = "";
    amazon.value = "";
    disney.value = "";
    hbo.value = "";
    hulu.value = "";
    peacock.value = "";
    paramount.value = "";
    starz.value = "";
    showtime.value = "";
    apple.value = "";
    confirm.value = "";
    window.location.href = '#/login';
  } catch (err) {
    console.log(err);
  }
};
</script>

<template>
  <h1>Sign Up</h1>
  <h2>Tell Us About Yourself</h2>
  <div id="form">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input
        v-model="username"
        type="text"
        placeholder="Username"
        class="text-input"
        @input="usernameChange = true"
        @change="isValid"
        />
      </div>
      <span v-if="usernameChange">{{ errors.username }}</span>
    </div>
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input
        v-model="email"
        type="email"
        placeholder="Email"
        class="text-input"
        @input="emailChange = true"
        @change="isValid"
        />
      </div>
      <span v-if="emailChange">{{ errors.email }}</span>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
        v-model="password"
        type="password"
        placeholder="Password"
        class="text-input"
        @input="passwordChange = true"
        @change="isValid"
        />
      </div>
      <span v-if="passwordChange">{{ errors.password }}</span>
    </div>
    <div class="field">
      <label class="label">Confirm Password</label>
      <div class="control">
        <input
        v-model="confirm"
        type="password"
        placeholder="Password"
        class="text-input"
        @input="confirmChange = true"
        @change="isValid"
        />
      </div>
      <span v-if="confirmChange">{{ errors.confirm }}</span>
    </div>
    <h3>Streaming Services</h3>
    <div class="field">
      <label class="label">Netflix</label>
      <div class="control">
        <input
        v-model="netflix"
        type="checkbox"
        />
      </div>
      <label class="label">Amazon Prime Video</label>
      <div class="control">
        <input
        v-model="amazon"
        type="checkbox"
        />
      </div>
      <label class="label">Disney+</label>
      <div class="control">
        <input
        v-model="disney"
        type="checkbox"
        />
      </div>
      <label class="label">HBO Max</label>
      <div class="control">
        <input
        v-model="hbo"
        type="checkbox"
        />
      </div>
      <label class="label">Hulu</label>
      <div class="control">
        <input
        v-model="hulu"
        type="checkbox"
        />
      </div>
      <label class="label">Peacock</label>
      <div class="control">
        <input
        v-model="peacock"
        type="checkbox"
        />
      </div>
      <label class="label">Paramount</label>
      <div class="control">
        <input
        v-model="paramount"
        type="checkbox"
        />
      </div>
      <label class="label">Starz</label>
      <div class="control">
        <input
        v-model="starz"
        type="checkbox"
        />
      </div>
      <label class="label">Showtime</label>
      <div class="control">
        <input
        v-model="showtime"
        type="checkbox"
        />
      </div>
      <label class="label">Apple TV+</label>
      <div class="control">
        <input
        v-model="apple"
        type="checkbox"
        />
      </div>
    </div>
    <div class="control">
      <button 
        class="button is-success" 
        @click="registerUser"
        :disabled="!canSubmit">Sign Up</button>
    </div>
  </div>
</template>

<style>
div ul {
  list-style: none;
  padding: 0;
}
input {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
  text-align: center;
}
div li {
  padding: 10px;
  color: blue;
  font-size: large;
}
</style>

<style scoped>
  span {
    color: red;
  }
</style>
