<template>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social - Home</title>

    <link rel="stylesheet" href="../assets/common.css" />
  </head>
  <body>
    <main>
      <h1>Friends</h1>
      <ul>
        <li>
          <span>
            <img
              class="profile-pic"
              src="https://gitlab.com/uploads/-/system/user/avatar/11566347/avatar.png?width=400"
            />
            <span>Kilian Wehde</span>
          </span>
        </li>
        <li>
          <span>
            <img
              class="profile-pic"
              src="https://secure.gravatar.com/avatar/70d18cc47c231fdae63a73beb13d2aab?s=800&d=identicon"
            />
            <span>Chris Santillan</span>
          </span>
        </li>
        <li>
          <span>
            <img
              class="profile-pic"
              src="https://secure.gravatar.com/avatar/9694dbe7c712763240675baa8933b67b?s=800&d=identicon"
            />
            <span>Trevor Dickey</span>
          </span>
        </li>
        <li>
          <span>
            <img
              class="profile-pic"
              src="https://secure.gravatar.com/avatar/3007163c368f076da5ea408a2632e772?s=800&d=identicon"
            />
            <span>Jacob Hunter</span>
          </span>
        </li>
      </ul>
    </main>
  </body>
</template>

<style>
.profile-pic {
  width: 200px;
  border-radius: 50%;
}

ul {
  list-style: none;
}
</style>
