:root {
  --primary-color: #161b40;
  --secondary-color: #68bbe5;
  --tertiary-color: #70be5b;
  --fourtiary-color: #4e53a5;
  --quinary-color: #e2008a;
}
header {
  position: fixed;
  top: 0px;
  height: 90px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#container h2 {
  font-size: larger;
  font-weight: 150;
}
#container li {
  padding: 0.5vw;
  font-size: medium;
}
nav ul {
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  color: var(--quinary-color);
  text-decoration: none;
}
nav a:hover {
  color: var(--tertiary-color);
}

body {
  margin: 0;
  padding-top: 90px;
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 1.45;
  text-align: center;
  background-color: var(--tertiary-color);
}

.btn {
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 500;
  font-size: 20px;
  background: var(--quinary-color);
  border: none;
  border-radius: 5px;
  padding: 12px 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: #18e8f3;
}

footer {
  margin-top: 100vh;
  background: var(--primary-color);
  padding: 15px;
  text-align: center;
  color: var(--secondary-color);
  font-size: 12px;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer li {
  display: inline-block;
}

footer li a {
  color: #c3c3c3;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 14px;
}
footer li a:hover {
  color: white;
}
