<script setup>
import { ref, computed } from "vue";
import Home from "./components/home.vue";
import Login from "./components/login.vue";
import Play from "./components/picker_start.vue";
import Account from "./components/account.vue";
import Social from "./components/social_home.vue";
import SignUp from "./components/sign_up.vue";
import Bracket from "./components/bracket.vue";
import Movies from "./components/movie_picker.vue";
import mMStart from "./components/match_making_start.vue";
import mMGame from "./components/match_making_game.vue";

const routes = {
  "/": Home,
  "/login": Login,
  "/play": Play,
  "/account": Account,
  "/social": Social,
  "/signup": SignUp,
  "/bracket": Bracket,
  "/movies": Movies,
  "/mmstart": mMStart,
  "/mmgame": mMGame,
};

const currentPath = ref(window.location.hash);
const userID = ref(sessionStorage.getItem("userID"));

window.addEventListener("hashchange", () => {
  currentPath.value = window.location.hash;
});

const currentView = computed(() => {
  return routes[currentPath.value.slice(1) || "/"] || NotFound;
});

const headerItems = [
  { text: "Login/Signup", link: "#/login" },
  { text: "Play Bracket", link: "#/play" },
  { text: "Play Match-Making", link: "#/mmstart" },
  { text: "Account", link: "#/account" },
  { text: "Social", link: "#/social" },
];

//console.log(headerItems);

const signedIn = () => {
  //console.log(userID.value);
  if (userID.value === null) {
    return 1;
  } else {
    return 5;
  }
};

const auth = signedIn();
//console.log(auth);
</script>

<template>
  <header>
    <a href="/"
      ><img
        src="./assets/scapegoat_logo.png"
        alt="ScapeGoat Logo"
        style="width: 75px"
      />
    </a>

    <div id="container">
      <h2>We take the blame for your bad movie choices</h2>
      <nav class="navbar">
        <ul>
          <li v-for="headerItem in headerItems.slice(0, auth)">
            <a :href="headerItem.link">{{ headerItem.text }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="main-content">
    <component :is="currentView" />
  </main>

  <footer class="footer">
    <div>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact us</a></li>
        <!-- for testing only -->
        <!-- <li><a href="#/mmstart">Play Match</a></li> -->
      </ul>
      <p>&copy; All rights reserved.</p>
    </div>
  </footer>
</template>

<style scoped>
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}

.main-content {
  margin-bottom: 600px;
}
</style>
